.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;

  header {
    overflow: hidden;
  }
  h2 {
    font-size: 89px;
    font-weight: 300;
    span {
      margin-right: 10px;
      // letter-spacing: -10px !important;
    }
  }
  p {
    margin-top: 32px;
    color: var(--neutral-200);
    max-width: 400px;
    line-height: 180%;
  }
  img {
    width: 64px;
    height: 64px;
    margin-left: 12px;
  }
}

.mask {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;

    h2 {
      font-size: 48px;
      line-height: 46px;
    }

    p {
      margin-top: 24px;
    }

    img {
      width: 32px;
      height: 32px;
      margin-left: 6px;
    }
  }
}
