.container {
  border-radius: 64px 64px 0 0;
  margin-top: 200px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: var(--white);
  padding: 128px 32px 128px 32px;
  width: 100%;
  z-index: 1 !important;
  scale: 0.8;
  // position: relative;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  h4 {
    font-size: 144px;
    font-weight: 300;
  }
  p {
    line-height: 160%;
    margin-top: 32px;
    font-size: 24px;
    // color: var(--neutral-400);
    color: var(--white);
    max-width: 820px;
    // opacity: 0.6;
  }
}

.process {
  width: 100%;
  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-top: 80px;
  span {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 240px;
    font-size: 20px;
  }

  img {
    width: 32px;
  }
}

.divider {
  width: 1px;
  height: 300px;
  background-color: var(--neutral-500);
}

.available {
  margin: 60px auto 0 auto;
  width: 100%;
  max-width: 1400px;
  // background-color: var(--black);
  background-color: #0C0C0C;
  color: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 100px 100px;
  border-radius: 32px;
  h6 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 24px;
  }
  li {
    list-style: none;
    font-size: 20px;
    // color: var(--neutral-200);
    font-weight: 400;
    line-height: 32px;
  }
}

.circleContainer {
  position: relative;
  margin-top: -1px;
  z-index: 1;
  .circle {
    height: 1550%;
    width: 100%;
    border-radius: 0 0 64px 64px;
    // background-color: #dde0e9;
    background-color: #706E75;
    z-index: 1;
    position: absolute;
    box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
  }
}

@media (max-width: 1200px) {
  .available {
    flex-direction: column;
    gap: 64px;
  }
  .divider {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 128px 16px 128px 16px;
    margin-top: 100px;
  }

  .header {
    h4 {
      font-size: 48px;
    }
    p {
      font-size: 20px;
    }
  }
  .process {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    row-gap: 64px;
    span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .available {
    padding: 64px 32px;
    gap: 32px;
    li {
      font-size: 20px;
      line-height: 34px;
    }
  }

  .circleContainer {
    display: none;
  }
}
